<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page.title }}{% endblock %} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">
    <link rel="shortcut icon" href="{{ site.url }}/assets/imgs/favicon.ico" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,400i,700,700i|Poppins:400,700" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{site.url}}/assets/imgs/favicon.ico" type="image/x-icon" />
  </head>
  <body>

    {% block content_wrapper %}
      {% block content %}
        {{ page.content }}
      {% endblock %}
    {% endblock %}

    {{ include("scripts.html") }}
  </body>
</html>
