    <h1><img src="./drupalhatter.png" alt="Drupal Hatter" class="hatter"></h1>
    <h2>30 March - 2 April, 2017<br/>Chicago, Illinois, USA</h2>
    <h3>“The time is coming,” the walrus said, “to talk of many things…”</h3>
    <h4><a href="http://twitter.com/midwestcamp">twitter</a> <a href="https://www.facebook.com/MidCamp/">facebook</a> <a href="http://www.youtube.com/c/MidCampOrg">youtube</a></h4>
    <h4><a href="http://2016.midcamp.org">2016</a> <a href="http://2015.midcamp.org">2015</a> <a href="http://2014.midcamp.org">2014</a></h4>
