---
layout: default
use:
  - styleguides

title: Homepage
---

<section class="event-banner__wrapper">
  <div class="event-banner">
    <div class="container">
      <div class="l-1up">
        <div class="event-banner__block">
          <img class="event__druplicon" src="{{site.url}}/code/imgs/druplicon.png" alt="Druplicon wearing a Hatter's Hat">
          <h1 class="event__title">Midcamp 2016</h1>
          <h2 class="event__subtitle">March 30 — April 2, 2016</h2>
          <a href="#" class="event__button button--primary">Register</a>
        </div>
      </div>
    </div>
  </div>
</section>

<header class="site-header">
  <nav class="site-header__nav">
    <div class="container">
      <div class="l-1up">
        <ul class="primary-nav__list">
          <li class="primary-nav__item">
            <a href="#">Camp</a>
          </li>
          <li class="primary-nav__item">
            <a href="#">Schedule</a>
          </li>
          <li class="primary-nav__item">
            <a href="#">Training</a>
          </li>
          <li class="primary-nav__item">
            <a href="#">Sponsors</a>
          </li>
          <li class="primary-nav__item">
            <a href="#">Jobs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="banner">
  <div class="container">
    <h1 class="banner-title">Featured Speakers</h1>

    <div class="l-3up">
      <div class="speaker-item">
        <div class="speaker-image" style="background-image: url({{site.url}}/code/imgs/speaker-sprite.png)"><span class="element-invisible">Ashley Cyborski</span></div>
        <div class="speaker-item__block">
          <h2 class="speaker-item__title"><a href="#">Ashley Cyborski</a></h2>
          <p class="speaker-item__subtitle">Senior Designer @ <a href="#">Palantir.net</a></p>
        </div>
      </div>
    </div>

    <div class="l-3up">
      <div class="speaker-item">
        <div class="speaker-image" style="background-image: url({{site.url}}/code/imgs/speaker-sprite.png)"><span class="element-invisible">Jim Bean</span></div>
        <div class="speaker-item__block">
          <h2 class="speaker-item__title"><a href="#">Jim Bean</a></h2>
          <p class="speaker-item__subtitle">Brewer @ <a href="#">Some Alcohol Company</a></p>
        </div>
      </div>
    </div>

    <div class="l-3up">
      <div class="speaker-item">
        <div class="speaker-image" style="background-image: url({{site.url}}/code/imgs/speaker-sprite.png)"><span class="element-invisible">Ashley Cyborski</span></div>
        <div class="speaker-item__block">
          <h2 class="speaker-item__title"><a href="#">Ashley Cyborski</a></h2>
          <p class="speaker-item__subtitle">Senior Designer @ <a href="#">Palantir.net</a></p>
        </div>
      </div>
    </div>
    <div class="button--center-container">
      <a href="#" class="cta-link">See all Speakers  <span class="cta-arrow">{% include 'includes/svg/arrow.svg' %}</span></a>
    </div>
  </div>
</section>

<section class="map-banner">
  <div class="map-overlay">
    <span class="map__label">Location</span>
    <h2 class="map__title">DePaul Lincoln Park Campus, Chicago</h2>
    <p class="map__address">2320 N Kenmore Ave, <br/>Chicago, IL 60614</p>
    <a href="#" class="cta-link--yellow">Book your Hotel  <span class="cta-arrow">{% include 'includes/svg/arrow.svg' %}</span></a>
  </div>
  <div id='map' class="map"></div>
</section>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibWlkY2FtcCIsImEiOiJjaXV2czRteHQwNGhkMm9zNWp4bWhndTk0In0.F5jwcKus8Rzx5r8Ga-CRQA';
  var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/midcamp/ciuvsjxje00312ipqrfyxm4di', //stylesheet location
      center: [-87.64, 41.87], // starting position
      zoom: 13.4 // starting zoom
  });

  // disable map zoom when using scroll
  map.scrollZoom.disable();
</script>