/**
 * sub-event-list.scss
 * Define locations styles
 *
 *
 */

.sub-event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sub-event {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  padding: 0 rhythm(2);
  margin-bottom: rhythm(1);

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($bp1) {
    width: 49%;
    padding: rhythm(2);
  }

  @include breakpoint($bp2) {
    width: 24%;
    padding: rhythm(1) rhythm(1) 0;
  }

  @include breakpoint($bp3) {
    padding: rhythm(2) rhythm(2) 0;
  }

  &:active,
  &:hover {
    color: $white;
    text-decoration: none;

    .sub-event__bg-img {
      img {
        -webkit-filter: none;
        -webkit-filter: none;
        filter: none;
        filter: none;
      }
    }

    .sub-event__inner {
      background-color: $green;
    }
  }
}

.sub-event__bg-img {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 220px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    position: relative;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
  }
}

.sub-event__inner {
  box-shadow: 0 0 60px rgba(0,0,0,.1);
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: $white;
  padding: rhythm(.75);
  margin-top: 150px;

  @include breakpoint($bp1) {
    margin-top: 150px;
  }

  @include breakpoint($bp2) {
    margin-top: 127px;
  }
}

.sub-event__date {
  @include adjust-font-size-to($label, 1);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
}

.sub-event__time {
  @include adjust-font-size-to($label, .9);
  font-weight: 400;
}

