<header class="site-header">
  <nav class="site-header__nav">
    <div class="container">
      <div class="l-1up">
        <button class="primary-nav__trigger">{% include 'svg/menu.svg' %} Menu</button>
        <ul class="primary-nav__list">
          <li class="primary-nav__item has-children">
            <a href="#">Camp</a>
            <button class="primary-nav__sublist--trigger"><span class="element-invisible">Open Menu</span>{% include 'svg/arrow.svg' %}</button>
            <ul class="primary-nav__sublist">
              <li class="primary-nav__sublist-item"><a href="#">Register</a></li>
              <li class="primary-nav__sublist-item"><a href="#">Venue</a></li>
              <li class="primary-nav__sublist-item"><a href="#">Attendees</a></li>
            </ul>
          </li>
          <li class="primary-nav__item has-children">
            <a href="#">Schedule</a>
            <button class="primary-nav__sublist--trigger"><span class="element-invisible">Open Menu</span>{% include 'svg/arrow.svg' %}</button>
            <ul class="primary-nav__sublist">
              <li class="primary-nav__sublist-item"><a href="#">Thursday</a></li>
              <li class="primary-nav__sublist-item"><a href="#">Friday</a></li>
              <li class="primary-nav__sublist-item"><a href="#">Saturday</a></li>
              <li class="primary-nav__sublist-item"><a href="#">Sunday</a></li>
            </ul>
          </li>
          <li class="primary-nav__item">
            <a href="#">Training</a>
          </li>
          <li class="primary-nav__item">
            <a href="#">Sponsors</a>
          </li>
          <li class="primary-nav__item">
            <a href="#">Jobs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
