/**
 * @file
 * Define the styles for the button Component
 */

%form-block,
.form-block {
  @extend %clearfix;
  margin-bottom: rhythm(1);
}

.form-block--half {
  @extend %form-block;
  width: 50%;
  float: left;
}

.form-row {

  .form-block--half:nth-of-type(odd) {
    padding-right: 10px;
  }

  .form-block--half:nth-of-type(even) {
    padding-left: 10px;
  }
}

.select-container {
  border-radius: 8px;
  border: 1px solid $input-border-color;

  &:hover,
  &:focus,
  &:active {
    border-color: $input-border-hover;
  }
}

.form-option-container {
  @extend %clearfix;
  margin-right: rhythm(2);
  float: left;

  label {
    position: relative;
    left: 25px;
    font-family: $sans;
    margin-bottom: -.75em;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: block;
    position: relative;
    top: -.4em;
    float: none;
  }
}